@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

body{
	background-color: #DCF5FF;
	margin: 0;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Nunito Sans', sans-serif;
}

	 
	.inner{
		padding: 1em;
		background: rgb(7,218,165);
		border-radius: 10px;
		max-width: 22rem;
		clip-path: circle(10% at 90% 20%);
		transition: all .5s ease-in-out;
		cursor: pointer;
		
	}
	
	span{
			float: right;
			font-family: 'Libre Baskerville', serif;
			color: white;
			font-size: 30px;
			font-weight: bold;
			transition: color .5s;
			position: relative;
			margin-right: 5%;
			margin-top: 3%;


		}

		h2{
			font-kerning: normal;
			color: white;
		}

		h1{
			color: white;
			margin: 0;
		}

		p{
			padding-top: 5px;
			color: white;
			font-size: 0.9rem;
		}

		.inner:hover {
			clip-path: circle(90%);
			background: #00b6ff;
			
		}

		.inner:hover span{
			color: rgba(255,255,255,0);
			
		}	
			
@media only screen and (max-width: 600px){
			
			.inner{
				clip-path: circle(10% at 50% 20%);
			}

			span{
				margin-right: 48.8%;
			}

			.inner:active {
			clip-path: circle(90%);
			background: #00b6ff;
			
			} 
		}		
