@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,700;1,400&display=swap');

body{
	background-color: #DCF5FF;
	margin: 0;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Nunito Sans', sans-serif;
}

	 
	.inner{
		padding: 1em;
		background: rgb(7,218,165);
		border-radius: 10px;
		max-width: 350px;
		clip-path: circle(10% at 90% 20%);
		transition: all .6s ease-in-out;
		cursor: pointer;
		
	}
	
	span{
			float: right;
			color: white;
			font-size: 30px;
			font-weight: bold;
			transition: color .2s;
			position: relative;
			margin-right: 5%;
			margin-top: 3%;


		}

		h2{
			color: white;
		}

		h1{
			color: white;
			margin: 0;
		}

		p{
			padding-top: 5px;
			color: white;
			font-size: 0.8rem;
		}

		.inner:hover {
			clip-path: circle(90%);
			background: #00b6ff;
			
		}

		.inner:hover span{
			color: rgba(255,255,255,0);
			
		}	
			

		
